body {
  padding-top: 5rem;
}

input{
  min-width: 200px;
}

.sign-in-buttons{
    padding:20px;
    display:flex;
    flex-flow: row nowrap;
}

.sign-in-buttons>button{
    margin:10px;
}